In [1]:
import sys
import os
sys.path.append("../")
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from stdata import StData
import numpy as np
import pandas as pd
import pickle
import requests
import json
from exploratory_data_analysis import omnivida_util as ovu

In [2]:
db_connect = create_engine(    
        "postgresql://postgres:nxZFTdAzjL0TMwHX8TBT@ds4a-t22-omnivida.ch3i6mn5ftrs.sa-east-1.rds.amazonaws.com/omnivida",
        isolation_level="READ UNCOMMITTED") #La ruta depende de donde tengas almacenada la base de datos

conn = db_connect.connect()

In [3]:
id_patient = 524006

st=StData()
#BASIC_INFO=  pd.read_sql_query("SELECT * from patients", conn)
BASIC_INFO = pd.read_sql_query('SELECT * from patients where id_patient='+str(id_patient), conn)
basic_inf= st.get_basic_info_dataset(BASIC_INFO)
datab=basic_inf.loc[:,['birthdate', 'education','socioeconomic_level']]

ADHERENCE = pd.read_sql_query('SELECT * from adherence where id_patient='+str(id_patient), conn)
#ADHERENCE = pd.read_sql_query('SELECT * from adherence ', conn)
adh= st.get_adherence_dataset(ADHERENCE)
datah=adh.loc[:, ['days_since_last_control', 'ongoing_adherence_percentage']]

FAMILY_RECORD = pd.read_sql_query('SELECT * from family_records where id_patient='+str(id_patient), conn)
#FAMILY_RECORD = pd.read_sql_query('SELECT * from family_records', conn)
family_rec= st.get_family_records_dataset(FAMILY_RECORD)

WELLBEING_INDEX = pd.read_sql_query('SELECT * from well_being_records where id_patient='+str(id_patient), conn)
#WELLBEING_INDEX = pd.read_sql_query('SELECT * from well_being_records', conn)

wellb= st.get_wellbeing_index_dataset(WELLBEING_INDEX)

educación
0    2
Name: education, dtype: object
socioeconomic_level
0    3
Name: socioeconomic_level, dtype: object
creó información básica
familiar records

In [4]:
select_fields = ['id_patient', 'survey_date', 'qualitative_result', 'qualitative_result_change', 'days_since_last_control', 'ongoing_adherence_percentage', 'num_reports']
adherence_change_analysis = adh[select_fields]

bi_adherence = adherence_change_analysis.merge(basic_inf, how='left', on='id_patient')
bi_adherence['age_at_survey_date'] = (np.ceil((bi_adherence['survey_date'] - bi_adherence['birthdate']) / np.timedelta64(1, 'Y'))).astype(int)
bi_adherence.drop(columns=['city', 'department'], axis=1, inplace=True)

In [5]:
respiratory_related_diagnosis = ['ASMA MIXTA', 'ASMA NO ALERGICA', 'ASMA, NO ESPECIFICADA', 
                                        'CARCINOMA IN SITU DEL BRONQUIO Y DEL PULMON', 'ENFERMEDAD PULMONAR OBSTRUCTIVA CRONICA, NO ESPECIFICADA']

consolidated_family_record = pd.DataFrame()
row = {}
if not family_rec.empty:
    consolidated_family_record = pd.DataFrame()
    temp_df = family_rec.copy()
    row = {}
    row['id_patient'] = int(id_patient)
    row['family_history_reported'] = 1
    row['num_family_records'] = temp_df.shape[0]
    row['family_respiratory_related_diagnosis'] = len(temp_df[temp_df.diagnosis.isin(respiratory_related_diagnosis)])
    row['family_non_respiratory_related_diagnosis'] = len(temp_df[~temp_df.diagnosis.isin(respiratory_related_diagnosis)])
    consolidated_family_record = consolidated_family_record.append(row, ignore_index=True)
else:
    row = {}
    row['id_patient'] = int(id_patient)
    row['family_history_reported'] = 0
    row['num_family_records'] = 0
    row['family_respiratory_related_diagnosis'] = 0
    row['family_non_respiratory_related_diagnosis'] = 0
    consolidated_family_record = consolidated_family_record.append(row, ignore_index=True)

## Rearrange columns
consolidated_family_record = consolidated_family_record[
    ['id_patient', 'family_respiratory_related_diagnosis', 'family_non_respiratory_related_diagnosis']
]
# Merge Adherence, Basic info data and Family records data

bi_fr_adherence = bi_adherence.merge(consolidated_family_record, how='left', on='id_patient')
bi_fr_adherence['family_respiratory_related_diagnosis'] = bi_fr_adherence['family_respiratory_related_diagnosis'].fillna(0)
bi_fr_adherence['family_non_respiratory_related_diagnosis'] = bi_fr_adherence['family_non_respiratory_related_diagnosis'].fillna(0)

In [6]:
bi_fr_adherence

,id_patient,survey_date,qualitative_result,qualitative_result_change,days_since_last_control,ongoing_adherence_percentage,num_reports,first_name,last_name,birthdate,...,zone,social_stratum,socioeconomic_level,social_security_regime,social_security_affiliation_type,occupation,employment_type,age_at_survey_date,family_respiratory_related_diagnosis,family_non_respiratory_related_diagnosis
0,524006,2015-01-05,1.0,NaN,NaN,100.000000,1,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,63,0.0,0.0
1,524006,2015-09-10,1.0,0.0,248.0,100.000000,2,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,64,0.0,0.0
2,524006,2015-10-13,0.0,-1.0,33.0,66.666667,3,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,64,0.0,0.0
3,524006,2015-11-09,0.0,0.0,27.0,50.000000,4,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,64,0.0,0.0
4,524006,2016-06-02,1.0,1.0,206.0,60.000000,5,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,64,0.0,0.0
5,524006,2016-10-07,1.0,0.0,127.0,66.666667,6,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,65,0.0,0.0
6,524006,2016-11-08,1.0,0.0,32.0,71.428571,7,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,65,0.0,0.0
7,524006,2017-01-27,1.0,0.0,80.0,75.000000,8,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,65,0.0,0.0
8,524006,2017-04-12,1.0,0.0,75.0,77.777778,9,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,65,0.0,0.0
9,524006,2017-05-10,0.0,-1.0,28.0,70.000000,10,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,65,0.0,0.0
10,524006,2017-07-28,1.0,1.0,79.0,72.727273,11,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,65,0.0,0.0
11,524006,2017-08-25,1.0,0.0,28.0,75.000000,12,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,66,0.0,0.0
12,524006,2018-10-03,1.0,0.0,404.0,76.923077,13,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,67,0.0,0.0
13,524006,2019-05-28,1.0,0.0,237.0,78.571429,14,Celia,Sierra,1952-08-10,...,URBANA,3.0,3,CONTRIBUTIVO,COTIZANTE,PENSIONADO,PENSIONADO,67,0.0,0.0

In [7]:
period = 30
pivoted_life_quality = wellb.pivot(index='creation_date', columns='dimension', values='score')
pivoted_life_quality.columns = pivoted_life_quality.columns.categories
pivoted_life_quality.reset_index(inplace=True)
pivoted_life_quality['id_patient'] = id_patient
cols = [list(pivoted_life_quality.columns)[-1]] + list(pivoted_life_quality.columns)[:-1]
pivoted_life_quality = pivoted_life_quality[cols]
pivoted_life_quality

pivoted_life_quality.columns = ['id_patient', 'creation_date', 'personal_environment', 'psychological_health', 'interpersonal_relationships', 'physical_health']
pivoted_life_quality['wb_score'] = (pivoted_life_quality['personal_environment'] + \
        pivoted_life_quality['psychological_health'] + \
        pivoted_life_quality['interpersonal_relationships'] + \
        pivoted_life_quality['physical_health']) / 4.

adherence_change_life_quality = ovu.merge_on_closest_date(df1=adherence_change_analysis, df2=pivoted_life_quality, date_field_df1='survey_date', date_field_df2='creation_date', merge_on='id_patient')
adherence_change_life_quality.rename(columns={'days_since_creation_date': 'days_since_last_well_being_survey'}, inplace=True)

aclq_timely = adherence_change_life_quality[adherence_change_life_quality.days_since_last_well_being_survey <= period]
# aclq_late = adherence_change_life_quality[adherence_change_life_quality.days_since_last_well_being_survey > period]

aclq_timely_summary = pd.DataFrame()
for survey_date, df in aclq_timely.groupby('survey_date'):
    aclq_timely_summary = aclq_timely_summary.append({
        'id_patient': id_patient,
        'survey_date': survey_date,
        'num_wb_reports_last_30_days': df.shape[0],
        'wb_score': df.iloc[-1]['wb_score'],
        'days_since_last_wb_survey': df.iloc[-1]['days_since_last_well_being_survey']
    }, ignore_index=True)

# Merge Adherence, Basic info data, Family records and Well-being data

bi_fr_wb_adherence = bi_fr_adherence.merge(aclq_timely_summary, how='left', on=['id_patient', 'survey_date'])
bi_fr_wb_adherence['days_since_last_wb_survey'] = bi_fr_wb_adherence['days_since_last_wb_survey'].fillna(0)
bi_fr_wb_adherence['days_since_last_control'] = bi_fr_wb_adherence['days_since_last_control'].fillna(0)
bi_fr_wb_adherence['num_wb_reports_last_30_days'] = bi_fr_wb_adherence['num_wb_reports_last_30_days'].fillna(0)
bi_fr_wb_adherence['wb_score'] = bi_fr_wb_adherence['wb_score'].fillna(0)
bi_fr_wb_adherence.drop(columns=['qualitative_result_change', 'social_security_regime', 'zone', 'social_security_affiliation_type', 'employment_type'], axis=1, inplace=True)

In [8]:
bi_fr_wb_adherence

,id_patient,survey_date,qualitative_result,days_since_last_control,ongoing_adherence_percentage,num_reports,first_name,last_name,birthdate,email,...,civil_status,social_stratum,socioeconomic_level,occupation,age_at_survey_date,family_respiratory_related_diagnosis,family_non_respiratory_related_diagnosis,days_since_last_wb_survey,num_wb_reports_last_30_days,wb_score
0,524006,2015-01-05,1.0,0.0,100.000000,1,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,63,0.0,0.0,0.0,0.0,0.00
1,524006,2015-09-10,1.0,248.0,100.000000,2,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,64,0.0,0.0,0.0,1.0,53.25
2,524006,2015-10-13,0.0,33.0,66.666667,3,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,64,0.0,0.0,0.0,0.0,0.00
3,524006,2015-11-09,0.0,27.0,50.000000,4,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,64,0.0,0.0,0.0,0.0,0.00
4,524006,2016-06-02,1.0,206.0,60.000000,5,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,64,0.0,0.0,0.0,0.0,0.00
5,524006,2016-10-07,1.0,127.0,66.666667,6,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,65,0.0,0.0,0.0,0.0,0.00
6,524006,2016-11-08,1.0,32.0,71.428571,7,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,65,0.0,0.0,0.0,0.0,0.00
7,524006,2017-01-27,1.0,80.0,75.000000,8,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,65,0.0,0.0,0.0,0.0,0.00
8,524006,2017-04-12,1.0,75.0,77.777778,9,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,65,0.0,0.0,0.0,0.0,0.00
9,524006,2017-05-10,0.0,28.0,70.000000,10,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,65,0.0,0.0,0.0,0.0,0.00
10,524006,2017-07-28,1.0,79.0,72.727273,11,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,65,0.0,0.0,0.0,0.0,0.00
11,524006,2017-08-25,1.0,28.0,75.000000,12,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,66,0.0,0.0,1.0,1.0,53.00
12,524006,2018-10-03,1.0,404.0,76.923077,13,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,67,0.0,0.0,0.0,0.0,0.00
13,524006,2019-05-28,1.0,237.0,78.571429,14,Celia,Sierra,1952-08-10,xrojo@example.org,...,CASADO (A),3.0,3,PENSIONADO,67,0.0,0.0,0.0,0.0,0.00

In [9]:
bi_fr_wb_adherence_modelable = bi_fr_wb_adherence.copy()
bi_fr_wb_adherence_modelable = pd.get_dummies(bi_fr_wb_adherence_modelable, columns=['gender', 'civil_status', 'occupation'])
# Setting Non-adherent label as '1'
bi_fr_wb_adherence_modelable['qualitative_result'] = np.logical_xor(bi_fr_wb_adherence_modelable['qualitative_result'],1).astype(int)

In [10]:
covariates = ['days_since_last_control', 
'ongoing_adherence_percentage', 
'education',
'social_stratum', 
'socioeconomic_level', 
'age_at_survey_date',
'family_respiratory_related_diagnosis',
'family_non_respiratory_related_diagnosis', 
'days_since_last_wb_survey',
'num_wb_reports_last_30_days',
'wb_score', 
'gender_F', 
'gender_M',
'civil_status_CASADO (A)',
'civil_status_SEPARADO (A)',
'civil_status_SIN DEFINIR', 
'civil_status_SOLTERO (A)',
'civil_status_UNIÓN LIBRE', 
'civil_status_VIUDO (A)',      
'occupation_AMA DE CASA', 
'occupation_DESEMPLEADO',
'occupation_EMPLEADO', 
'occupation_ESTUDIANTE',
'occupation_INDEPENDIENTE', 
'occupation_JUBILADO',
'occupation_PENSIONADO', 
'occupation_SIN DEFINIR']

bi_fr_wb_adherence_modelable = bi_fr_wb_adherence_modelable[covariates]

In [11]:
bi_fr_wb_adherence_modelable.dtypes

days_since_last_control                     float64
ongoing_adherence_percentage                float64
education                                     int64
social_stratum                              float64
socioeconomic_level                           int64
age_at_survey_date                            int64
family_respiratory_related_diagnosis        float64
family_non_respiratory_related_diagnosis    float64
days_since_last_wb_survey                   float64
num_wb_reports_last_30_days                 float64
wb_score                                    float64
gender_F                                      uint8
gender_M                                      uint8
civil_status_CASADO (A)                       uint8
civil_status_SEPARADO (A)                     uint8
civil_status_SIN DEFINIR                      uint8
civil_status_SOLTERO (A)                      uint8
civil_status_UNIÓN LIBRE                      uint8
civil_status_VIUDO (A)                        uint8
occupation_AMA DE CASA                        uint8
occupation_DESEMPLEADO                        uint8
occupation_EMPLEADO                           uint8
occupation_ESTUDIANTE                         uint8
occupation_INDEPENDIENTE                      uint8
occupation_JUBILADO                           uint8
occupation_PENSIONADO                         uint8
occupation_SIN DEFINIR                        uint8
dtype: object

In [12]:
last_record = bi_fr_wb_adherence_modelable.iloc[-1]

In [21]:
def prepare_data_for_humanistic_model(id_patient, adherence_df, basic_info_df, family_records_df, well_being_df):
        select_fields = ['id_patient', 'survey_date', 'qualitative_result', 'qualitative_result_change', 'days_since_last_control', 'ongoing_adherence_percentage', 'num_reports']
        adherence_change_analysis = adherence_df[select_fields]

        bi_adherence = adherence_change_analysis.merge(basic_info_df, how='left', on='id_patient')
        bi_adherence['age_at_survey_date'] = (np.ceil((bi_adherence['survey_date'] - bi_adherence['birthdate']) / np.timedelta64(1, 'Y'))).astype(int)
        bi_adherence.drop(columns=['city', 'department'], axis=1, inplace=True)

        consolidated_family_record = pd.DataFrame()
        row = {}
        if not family_records_df.empty:
            consolidated_family_record = pd.DataFrame()
            temp_df = family_records_df.copy()
            row = {}
            row['id_patient'] = int(id_patient)
            row['family_history_reported'] = 1
            row['num_family_records'] = temp_df.shape[0]
            row['family_respiratory_related_diagnosis'] = len(temp_df[temp_df.diagnosis.isin(respiratory_related_diagnosis)])
            row['family_non_respiratory_related_diagnosis'] = len(temp_df[~temp_df.diagnosis.isin(respiratory_related_diagnosis)])
            consolidated_family_record = consolidated_family_record.append(row, ignore_index=True)
        else:
            row = {}
            row['id_patient'] = int(id_patient)
            row['family_history_reported'] = 0
            row['num_family_records'] = 0
            row['family_respiratory_related_diagnosis'] = 0
            row['family_non_respiratory_related_diagnosis'] = 0
            consolidated_family_record = consolidated_family_record.append(row, ignore_index=True)

        ## Rearrange columns
        consolidated_family_record = consolidated_family_record[
            ['id_patient', 'family_respiratory_related_diagnosis', 'family_non_respiratory_related_diagnosis']
        ]
        # Merge Adherence, Basic info data and Family records data

        bi_fr_adherence = bi_adherence.merge(consolidated_family_record, how='left', on='id_patient')
        bi_fr_adherence['family_respiratory_related_diagnosis'] = bi_fr_adherence['family_respiratory_related_diagnosis'].fillna(0)
        bi_fr_adherence['family_non_respiratory_related_diagnosis'] = bi_fr_adherence['family_non_respiratory_related_diagnosis'].fillna(0)

        pivoted_life_quality = well_being_df.pivot(index='creation_date', columns='dimension', values='score')
        pivoted_life_quality.columns = pivoted_life_quality.columns.categories
        pivoted_life_quality.reset_index(inplace=True)
        pivoted_life_quality['id_patient'] = id_patient
        cols = [list(pivoted_life_quality.columns)[-1]] + list(pivoted_life_quality.columns)[:-1]
        pivoted_life_quality = pivoted_life_quality[cols]
        pivoted_life_quality

        pivoted_life_quality.columns = ['id_patient', 'creation_date', 'personal_environment', 'psychological_health', 'interpersonal_relationships', 'physical_health']
        pivoted_life_quality['wb_score'] = (pivoted_life_quality['personal_environment'] + \
                pivoted_life_quality['psychological_health'] + \
                pivoted_life_quality['interpersonal_relationships'] + \
                pivoted_life_quality['physical_health']) / 4.

        adherence_change_life_quality = ovu.merge_on_closest_date(df1=adherence_change_analysis, df2=pivoted_life_quality, date_field_df1='survey_date', date_field_df2='creation_date', merge_on='id_patient')
        adherence_change_life_quality.rename(columns={'days_since_creation_date': 'days_since_last_well_being_survey'}, inplace=True)

        aclq_timely = adherence_change_life_quality[adherence_change_life_quality.days_since_last_well_being_survey <= period]
        # aclq_late = adherence_change_life_quality[adherence_change_life_quality.days_since_last_well_being_survey > period]

        aclq_timely_summary = pd.DataFrame()
        for survey_date, df in aclq_timely.groupby('survey_date'):
            aclq_timely_summary = aclq_timely_summary.append({
                'id_patient': id_patient,
                'survey_date': survey_date,
                'num_wb_reports_last_30_days': df.shape[0],
                'wb_score': df.iloc[-1]['wb_score'],
                'days_since_last_wb_survey': df.iloc[-1]['days_since_last_well_being_survey']
            }, ignore_index=True)

        # Merge Adherence, Basic info data, Family records and Well-being data

        bi_fr_wb_adherence = bi_fr_adherence.merge(aclq_timely_summary, how='left', on=['id_patient', 'survey_date'])
        bi_fr_wb_adherence['days_since_last_wb_survey'] = bi_fr_wb_adherence['days_since_last_wb_survey'].fillna(0)
        bi_fr_wb_adherence['days_since_last_control'] = bi_fr_wb_adherence['days_since_last_control'].fillna(0)
        bi_fr_wb_adherence['num_wb_reports_last_30_days'] = bi_fr_wb_adherence['num_wb_reports_last_30_days'].fillna(0)
        bi_fr_wb_adherence['wb_score'] = bi_fr_wb_adherence['wb_score'].fillna(0)
        bi_fr_wb_adherence.drop(columns=['qualitative_result_change', 'social_security_regime', 'zone', 'social_security_affiliation_type', 'employment_type'], axis=1, inplace=True)

        bi_fr_wb_adherence_modelable = bi_fr_wb_adherence.copy()
        bi_fr_wb_adherence_modelable = pd.get_dummies(bi_fr_wb_adherence_modelable, columns=['gender', 'civil_status', 'occupation'])
        return bi_fr_wb_adherence_modelable

In [22]:
prepare_data_for_humanistic_model(id_patient, adh, basic_inf, family_rec, wellb)

,id_patient,survey_date,qualitative_result,days_since_last_control,ongoing_adherence_percentage,num_reports,first_name,last_name,birthdate,email,...,civil_status_UNIÓN LIBRE,civil_status_VIUDO (A),occupation_AMA DE CASA,occupation_DESEMPLEADO,occupation_EMPLEADO,occupation_ESTUDIANTE,occupation_INDEPENDIENTE,occupation_JUBILADO,occupation_PENSIONADO,occupation_SIN DEFINIR
0,524006,2015-01-05,1.0,0.0,100.000000,1,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
1,524006,2015-09-10,1.0,248.0,100.000000,2,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
2,524006,2015-10-13,0.0,33.0,66.666667,3,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
3,524006,2015-11-09,0.0,27.0,50.000000,4,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
4,524006,2016-06-02,1.0,206.0,60.000000,5,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
5,524006,2016-10-07,1.0,127.0,66.666667,6,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
6,524006,2016-11-08,1.0,32.0,71.428571,7,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
7,524006,2017-01-27,1.0,80.0,75.000000,8,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
8,524006,2017-04-12,1.0,75.0,77.777778,9,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
9,524006,2017-05-10,0.0,28.0,70.000000,10,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
10,524006,2017-07-28,1.0,79.0,72.727273,11,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
11,524006,2017-08-25,1.0,28.0,75.000000,12,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
12,524006,2018-10-03,1.0,404.0,76.923077,13,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0
13,524006,2019-05-28,1.0,237.0,78.571429,14,Celia,Sierra,1952-08-10,xrojo@example.org,...,0,0,0,0,0,0,0,0,1,0

In [13]:
import pickle

loaded_rforest = pickle.load(open('./models/human_rforest.pkl','rb'))
loaded_xgboost = pickle.load(open('./models/human_xgboost.pkl','rb'))

/opt/conda/lib/python3.6/site-packages/dask/dataframe/utils.py:13: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [14]:
bi_fr_wb_adherence_modelable.iloc[-1].values.reshape(-1,1)

array([[237.        ],
       [ 78.57142857],
       [  2.        ],
       [  3.        ],
       [  3.        ],
       [ 67.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  1.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  0.        ],
       [  1.        ],
       [  0.        ]])

In [25]:
loaded_xgboost.predict_proba(bi_fr_wb_adherence_modelable)[-1][1]

0.36495444

In [24]:
loaded_xgboost.predict(bi_fr_wb_adherence_modelable)[-1]

0

## Adherence per age and gender

In [72]:
st=StData()
#BASIC_INFO=  pd.read_sql_query("SELECT * from patients", conn)
basic_info_df = pd.read_sql_query('SELECT id_patient, gender, birthdate from patients', conn)
basic_info_df['birthdate'] = pd.to_datetime(basic_info_df['birthdate'])

In [74]:
#basic_inf= st.get_basic_info_dataset(BASIC_INFO)
#datab=basic_inf.loc[:,['birthdate', 'education','socioeconomic_level']]
last_year_adherence_query = "SELECT * FROM adherence, (SELECT MAX(survey_date) - INTERVAL '1 year' as max_date FROM adherence) last_year WHERE survey_date > last_year.max_date;" 
ADHERENCE = pd.read_sql_query(last_year_adherence_query, conn)
#ADHERENCE = pd.read_sql_query('SELECT * from adherence ', conn)
adherence_df= st.get_adherence_dataset(ADHERENCE)
#datah=adh.loc[:, ['days_since_last_control', 'ongoing_adherence_percentage']]

In [75]:
select_fields = ['id_patient', 'survey_date', 'qualitative_result', 'qualitative_result_change', 'days_since_last_control', 'ongoing_adherence_percentage', 'num_reports']
adherence_change_analysis = adherence_df[select_fields]

bi_adherence = adherence_change_analysis.merge(basic_info_df, how='left', on='id_patient')
bi_adherence['age_at_survey_date'] = (np.ceil((bi_adherence['survey_date'] - bi_adherence['birthdate']) / np.timedelta64(1, 'Y'))).astype(int)
bi_adherence

,id_patient,survey_date,qualitative_result,qualitative_result_change,days_since_last_control,ongoing_adherence_percentage,num_reports,gender,birthdate,age_at_survey_date
0,500547,2019-10-11,1.0,NaN,NaN,100.0,1,M,1962-05-19,58
1,500547,2019-12-09,1.0,0.0,59.0,100.0,2,M,1962-05-19,58
2,500547,2020-01-16,1.0,0.0,38.0,100.0,3,M,1962-05-19,58
3,500547,2020-03-25,1.0,0.0,69.0,100.0,4,M,1962-05-19,58
4,500547,2020-05-08,1.0,0.0,44.0,100.0,5,M,1962-05-19,58
...,...,...,...,...,...,...,...,...,...,...
949,1995612,2019-12-27,1.0,0.0,65.0,100.0,2,F,1962-09-06,58
950,1997065,2020-02-19,1.0,NaN,NaN,100.0,1,M,2011-03-20,9
951,1997825,2019-08-01,0.0,NaN,NaN,0.0,1,F,1991-12-27,28
952,1997825,2020-01-16,1.0,1.0,168.0,50.0,2,F,1991-12-27,29
953,1999536,2020-02-22,1.0,NaN,NaN,100.0,1,F,1991-09-10,29

In [76]:
bi_adherence['age_group'] = bi_adherence['age_at_survey_date'].apply(lambda x: np.ceil(x/5.))

In [77]:
bi_adherence[bi_adherence['age_group'] == 18]

Empty DataFrame
Columns: [id_patient, survey_date, qualitative_result, qualitative_result_change, days_since_last_control, ongoing_adherence_percentage, num_reports, gender, birthdate, age_at_survey_date, age_group]
Index: []

In [78]:
adher_gender_age = bi_adherence.groupby(['age_group', 'gender']).mean()[['ongoing_adherence_percentage']].reset_index()
adher_gender_age

    age_group gender  ongoing_adherence_percentage
0         2.0      F                    100.000000
1         2.0      M                    100.000000
2         3.0      F                     86.111111
3         3.0      M                     83.712121
4         4.0      F                     92.456140
5         4.0      M                    100.000000
6         5.0      F                     84.000000
7         5.0      M                     74.242424
8         6.0      F                     93.541667
9         6.0      M                    100.000000
10        7.0      F                     82.600000
11        7.0      M                     86.363636
12        8.0      F                     82.450980
13        8.0      M                     92.000000
14        9.0      F                     82.166667
15        9.0      M                     72.549020
16       10.0      F                     80.241935
17       10.0      M                     84.313725
18       11.0      F                     86.393443
19       11.0      M                     93.181818
20       12.0      F                     89.739382
21       12.0      M                     83.333333
22       13.0      F                     90.000000
23       13.0      M                     86.363636
24       14.0      F                     90.136054
25       14.0      M                     76.376812
26       15.0      F                    100.000000
27       15.0      M                     91.376812
28       16.0      F                    100.000000
29       16.0      M                    100.000000
30       17.0      F                     46.666667
31       17.0      M                    100.000000

In [79]:
age_groups = list(adher_gender_age.age_group.unique())

In [80]:
female_adherence = []
male_adherence = []
for group in age_groups:
    if not adher_gender_age[(adher_gender_age['gender']=='F') & (adher_gender_age['age_group']==group)].ongoing_adherence_percentage.empty:
        female_adherence.append(adher_gender_age[(adher_gender_age['gender']=='F') & (adher_gender_age['age_group']==group)].ongoing_adherence_percentage.values[0])
    else:
        female_adherence.append(-1.0)
    if not adher_gender_age[(adher_gender_age['gender']=='M') & (adher_gender_age['age_group']==group)].ongoing_adherence_percentage.empty:
        male_adherence.append(adher_gender_age[(adher_gender_age['gender']=='M') & (adher_gender_age['age_group']==group)].ongoing_adherence_percentage.values[0])
    else:
        male_adherence.append(-1.0)

In [81]:
female_adherence

[100.0,
 86.11111111111111,
 92.45614035087719,
 84.0,
 93.54166666666667,
 82.6,
 82.45098039215686,
 82.16666666666666,
 80.24193548387096,
 86.39344262295083,
 89.73938223938225,
 90.0,
 90.13605442176869,
 100.0,
 100.0,
 46.666666666666664]

In [82]:
male_adherence

[100.0,
 83.71212121212122,
 100.0,
 74.24242424242424,
 100.0,
 86.36363636363636,
 92.0,
 72.54901960784314,
 84.31372549019608,
 93.18181818181819,
 83.33333333333333,
 86.36363636363636,
 76.37681159420289,
 91.37681159420289,
 100.0,
 100.0]

In [83]:
age_groups_str = [f'{int(group*5-5)}-{int(group*5)}' for group in age_groups]
# for group in age_groups:
#     age_groups_str.append(f'{int(group*5-5)}-{int(group*5)}')

In [84]:
age_groups_str

['5-10',
 '10-15',
 '15-20',
 '20-25',
 '25-30',
 '30-35',
 '35-40',
 '40-45',
 '45-50',
 '50-55',
 '55-60',
 '60-65',
 '65-70',
 '70-75',
 '75-80',
 '80-85']

## Yearly adherence

In [86]:
st=StData()
last_year_adherence_query = "SELECT * FROM adherence, (SELECT MAX(survey_date) - INTERVAL '1 year' as max_date FROM adherence) last_year WHERE survey_date > last_year.max_date;"
ADHERENCE = pd.read_sql_query(last_year_adherence_query, conn)
#ADHERENCE = pd.read_sql_query('SELECT * from adherence ', conn)
adherence_df= st.get_adherence_dataset(ADHERENCE)
#datah=adh.loc[:, ['days_since_last_control', 'ongoing_adherence_percentage']]

In [87]:
adherence_df['survey_month_year'] = pd.to_datetime(adherence_df['survey_date']).dt.to_period('M')
adherence_df

,id_patient,survey_date,morisky_green,smaq1,smaq2,espa,nm_espa,qualitative_result,quantitative_result,max_date,...,smaq1_change,smaq2_change,espa_change,nm_espa_change,qualitative_result_change,quantitative_result_change,days_since_last_control,num_reports,ongoing_adherence_percentage,survey_month_year
0,500547,2019-10-11,1.0,1.0,4.0,1.0,6.0,1.0,4.0,2019-05-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,100.0,2019-10
1,500547,2019-12-09,1.0,1.0,4.0,1.0,6.0,1.0,4.0,2019-05-22,...,0.0,0.0,0.0,0.0,0.0,0.0,59.0,2,100.0,2019-12
2,500547,2020-01-16,1.0,1.0,4.0,1.0,6.0,1.0,4.0,2019-05-22,...,0.0,0.0,0.0,0.0,0.0,0.0,38.0,3,100.0,2020-01
3,500547,2020-03-25,1.0,1.0,4.0,1.0,6.0,1.0,4.0,2019-05-22,...,0.0,0.0,0.0,0.0,0.0,0.0,69.0,4,100.0,2020-03
4,500547,2020-05-08,1.0,1.0,4.0,1.0,5.0,1.0,4.0,2019-05-22,...,0.0,0.0,0.0,-1.0,0.0,0.0,44.0,5,100.0,2020-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,1995612,2019-12-27,1.0,1.0,4.0,1.0,5.0,1.0,4.0,2019-05-22,...,0.0,0.0,0.0,-1.0,0.0,0.0,65.0,2,100.0,2019-12
950,1997065,2020-02-19,1.0,1.0,4.0,1.0,5.0,1.0,4.0,2019-05-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,100.0,2020-02
951,1997825,2019-08-01,0.0,0.0,3.0,0.0,5.0,0.0,3.0,2019-05-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0,2019-08
952,1997825,2020-01-16,1.0,1.0,4.0,1.0,6.0,1.0,4.0,2019-05-22,...,1.0,1.0,1.0,1.0,1.0,1.0,168.0,2,50.0,2020-01
953,1999536,2020-02-22,1.0,1.0,4.0,1.0,6.0,1.0,4.0,2019-05-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,100.0,2020-02

In [89]:
adherence_last_year = adherence_df.groupby(['survey_month_year', 'id_patient']).mean().reset_index().groupby(['survey_month_year']).mean()[['ongoing_adherence_percentage']]

In [90]:
adherence_last_year.to_json()

'{"ongoing_adherence_percentage":{"2019-05":79.1666666667,"2019-06":94.2786069652,"2019-07":84.3098958333,"2019-08":76.3095238095,"2019-09":82.4494949495,"2019-10":90.6862745098,"2019-11":80.4473304473,"2019-12":90.1315789474,"2020-01":83.8728070175,"2020-02":87.8611111111,"2020-03":90.1602564103,"2020-04":94.2176870748,"2020-05":94.0301120448}}'

## Adherence counters

In [ ]:
patients_adherence_last_year = """
SELECT last_patient_adherence.*  FROM
(
 SELECT MAX(survey_date) - INTERVAL '1 year' AS max_date 
 FROM adherence
) last_year,
(SELECT patients.id_patient, first_name, last_name, gender, birthdate, civil_status, 
    last_adherence.survey_date, last_adherence.adherence_result
FROM patients
INNER JOIN 
(
    SELECT DISTINCT ON (id_patient) id_patient, survey_date, 
    CASE 
        WHEN qualitative_result = 'si' THEN 1
        WHEN qualitative_result = 'no' THEN 0
    END AS adherence_result 
    FROM adherence 
    ORDER BY id_patient, survey_date DESC
) last_adherence
ON patients.id_patient = last_adherence.id_patient) last_patient_adherence
WHERE last_patient_adherence.survey_date > last_year.max_date;
"""

st=StData()
ADHERENCE = pd.read_sql_query(patients_adherence_last_year, conn)
adherent_patient_count = ADHERENCE.adherence_result.value_counts()

In [6]:
adherent_patient_count[0]

44

In [20]:
last_year_adherence_query = """
SELECT adherence.* FROM adherence, 
    (
        SELECT MAX(survey_date) - INTERVAL '2 months' AS max_date 
        FROM adherence
    ) last_year 
WHERE survey_date > last_year.max_date
"""

ADHERENCE = pd.read_sql_query(last_year_adherence_query, conn)
#ADHERENCE = pd.read_sql_query('SELECT * from adherence ', conn)
adherence_df= st.get_adherence_dataset(ADHERENCE)
#datah=adh.loc[:, ['days_since_last_control', 'ongoing_adherence_percentage']]
# adherence_df['survey_month_year'] = pd.to_datetime(adherence_df['survey_date']).dt.to_period('M')
adherence_last_year = pd.DataFrame()
for patient, df in adherence_df.groupby(['id_patient']):
    adherence_last_year = adherence_last_year.append(df.iloc[-1])
adherence_last_year

,days_since_last_control,espa,espa_change,id_patient,morisky_change,morisky_green,nm_espa,nm_espa_change,num_reports,ongoing_adherence_percentage,qualitative_result,qualitative_result_change,quantitative_result,quantitative_result_change,smaq1,smaq1_change,smaq2,smaq2_change,survey_date
1,44.0,1.0,0.0,500547.0,0.0,1.0,5.0,-1.0,2.0,100.0,1.0,0.0,4.0,0.0,1.0,0.0,4.0,0.0,2020-05-08
2,NaN,1.0,NaN,528384.0,NaN,1.0,6.0,NaN,1.0,100.0,1.0,NaN,4.0,NaN,1.0,NaN,4.0,NaN,2020-03-28
3,NaN,1.0,NaN,535255.0,NaN,1.0,5.0,NaN,1.0,100.0,1.0,NaN,4.0,NaN,1.0,NaN,4.0,NaN,2020-03-31
5,47.0,1.0,0.0,539423.0,0.0,1.0,5.0,0.0,2.0,100.0,1.0,0.0,4.0,0.0,1.0,0.0,4.0,0.0,2020-05-13
6,NaN,1.0,NaN,541007.0,NaN,1.0,5.0,NaN,1.0,100.0,1.0,NaN,4.0,NaN,1.0,NaN,4.0,NaN,2020-04-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,NaN,1.0,NaN,1962088.0,NaN,1.0,5.0,NaN,1.0,100.0,1.0,NaN,4.0,NaN,1.0,NaN,4.0,NaN,2020-04-22
206,NaN,1.0,NaN,1963695.0,NaN,1.0,6.0,NaN,1.0,100.0,1.0,NaN,4.0,NaN,1.0,NaN,4.0,NaN,2020-05-14
207,NaN,1.0,NaN,1970331.0,NaN,1.0,6.0,NaN,1.0,100.0,1.0,NaN,4.0,NaN,1.0,NaN,4.0,NaN,2020-05-21
208,NaN,1.0,NaN,1990453.0,NaN,1.0,5.0,NaN,1.0,100.0,1.0,NaN,4.0,NaN,1.0,NaN,4.0,NaN,2020-05-06
209,NaN,1.0,NaN,1995390.0,NaN,1.0,5.0,NaN,1.0,100.0,1.0,NaN,4.0,NaN,1.0,NaN,4.0,NaN,2020-04-21

In [21]:
adherence_last_year.ongoing_adherence_percentage.mean()

96.92737430167598